html {
    height: 100%;
}

body {
    height: 100%;
    background-color: black;

}

.icon-nana {
    display: flex;
    align-content: center;
}
.center-content {

    text-align: center;
    font-size: 6em;



}

.icon-nana > p {
    margin: 0;
    animation-name: backgroundColorPalette;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out
}


@keyframes backgroundColorPalette {
    0% {
        transform: rotate(45deg)
    }

    100% {
        transform: rotate(-10deg)
    }
}

h1 {
    margin-left: 95px;
    margin-right: 95px;
}





